html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body {
    align-content: center;
}

h2 {
    font-family: Georgia, serif;
    font-size: 1em;
    line-height: 1.2;
    padding-bottom: 1em;
}

section {
    padding: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 70vw;
    margin: 0 auto;
}

article{
    padding: 2em;
    text-align: start;
}
