
body {
    display: flex;
    background: rgb(238, 238, 238);
}

.card {
   background:  rgb(255, 255, 255);
   margin: auto;
   margin-top: 13em;
   width: 25%;
   border-radius: 0.5em;
   padding: 0.5em;
   box-shadow: 10px 10px 25px grey;
}




